<h1 class="mb-4" i18n="@@home.index.headline">Welcome to your new app!</h1>
<p i18n="@@home.index.text">Your app was created with <a href="https://bootify.io" target="_blank">Bootify.io</a> and can now be customized. If you are happy with the result, <strong>please recommend us to other developers</strong> - so Bootify.io can grow further.</p>
<p class="mb-5">
    <span i18n="@@home.index.swagger">Swagger is</span>
    <a [href]="environment.apiPath + '/swagger-ui.html'" target="_blank" i18n="@@home.index.swagger.link">available here</a>.
</p>
